.topbar {

display: inline-block;
}

.topbar-item {

display: inline-block;
  
}

.main-page-wrapper {
  
  display: inline-block;
  text-align: center;

}

.main-page-list {
  border: 3px solid black;
  text-align: 
}

.main-page-item {	
  
}